<div class="footer myfooter">
    <div class="icons">
        <div><a href=""><i class="fa fa-facebook" aria-hidden="true" style="color:#ff0081"></i></a></div>
        <div><a href=""><i class="fa fa-linkedin" aria-hidden="true" style="color:#ff0081"></i></i></a></div>
        <div><a href=""><i class="fa fa-quora" aria-hidden="true" style="color:#ff0081"></i></i></a></div>
        <div><a href=""><i class="fa fa-envelope" aria-hidden="true" style="color:#ff0081"></i></i></i></a></div>
    </div>
    <div class="footer-details">
        Copyright &#64 Delicious Recipies 2020
    </div>

</div>