<div class="main">
   <div class="success-container">
       <div class="success-content">
            <div class="alert" role="alert">
                <h4 class="alert-heading">Well done!!! <span style="text-transform: capitalize; font-weight:bold">{{name}}</span></h4>
                <p>Aww yeah, you have successfully uploaded your <span style="text-transform: capitalize; font-weight:bold">{{recipie}}</span> recipie.</p>
                <hr>
                <p class="mb-0">Whenever you find a new recipie don't forget to upload in delicious recipies.</p>
                <p class="mb-0">Thank you &#128522;</p>
            </div>
       </div>
   </div>
</div>
